{% extends "partials/layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
  <title>Ecoleta - Create Point</title>
{% endblock title %}

{% block styles %}
  <link rel="stylesheet" href="styles/create-point.css">
  <link rel="stylesheet" href="styles/modal.css">
{% endblock styles %}

{% block content %}
  {% include "partials/page-header.html"%}

  <form action="/savepoint" method="POST">
    <h1>Sign collection point</h1>
    <fieldset>
      <legend>
        <h2>Entity data</h2>
      </legend>

      <div class="field-group">
        <div class="field">
          <label for="name">
            Entity name</label>
          <input type="text" name="name" required="required">
        </div>
        <div class="field">
          <label for="name">
            Entity Image</label>
          <input type="url" name="image" placeholder="http://" required="required">
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="adress">
            Adress
          </label>
          <input type="text" name="adress" required="required">
        </div>
        <div class="field">
          <label for="adress2">
            Phone Number / Complement
          </label>
          <input type="text" name="adress2" required="required">
        </div>
      </div>

      <div class="field-group">
        <div class="field">
          <label for="state">
            State
          </label>
          <select name="uf" required="required">
            <option value="">Select the state</option>
          </select>
        </div>
        <div class="field">
          <label for="city">
            City
          </label>
          <select name="city" required="required">
            <option value="" disabled="disabled">Select the city</option>
          </select>
          <input type="hidden" name="state">
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>
        <h2>Items to collect</h2>
        <span>Select the items below</span>
      </legend>
      <div class="items-grid">
        <li data-id="Lamps">
          <img src="icons/lampadas.svg" alt="lamps">
          <span>Lamps</span>
        </li>
        <li data-id="Batteries">
          <img src="icons/baterias.svg" alt=" Batteries">
          <span>Batteries</span>
        </li>
        <li data-id="Paper and Cardboard">
          <img src="icons/papeis-papelao.svg" alt="Paper and Cardboard">
          <span>Paper and Cardboard</span>
        </li>
        <li data-id="Electronic scrap">
          <img src="icons/eletronicos.svg" alt="Electronic scrap">
          <span>Electronic scrap</span>
        </li>
        <li data-id="Organic waste">
          <img src="icons/organicos.svg" alt="Organic waste">
          <span>Organic waste</span>
        </li>
        <li data-id="Cooking Oil">
          <img src="icons/oleo.svg" alt="Cooking Oil">
          <span>Cooking Oil</span>
        </li>
      </div>
      <input type="hidden" name="items">
    </fieldset>

    <button type="submit">
      Send
    </button>
  </form>

{% endblock content %}

{% block modal %}
  {% if saved %}
    {% include "partials/point-created.html" %}
  {% endif %} 
{% endblock modal %}

{% block scripts %}
  <script src="/scripts/create-point.js"></script>
{% endblock scripts %}